.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.carousel-viewport {
    display: flex;
    gap: 0;
    height: fit-content;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transition: all 300ms ease;
    transform: translateX(calc(0 * -100%));
    list-style: none;
    overflow: scroll hidden;
    scrollbar-width: none;
}

/* Works on Chrome, Edge, and Safari */
.carousel-viewport::-webkit-scrollbar {
    display: none;
}

.carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    gap: 0;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
}

.carousel-container .carousel-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border: 0;
    border-radius: 100%;
    background-color: #fff9;
}

.carousel-container .carousel-btn:hover {
    cursor: pointer;
    background-color: #fffb;
}

.carousel-btn.go-left {
    left: 0.5rem;
    padding-right: 2px;
}

.carousel-btn.go-right {
    right: 0.5rem;
}

.carousel-indicator {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #fff9;
    border-radius: 6px;
    color: #333;
    font-size: 0.83rem;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .carousel-btn {
        display: none !important;
    }
}
