.contact-section {
    padding: 3rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-links {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(1, auto);
    column-gap: 2rem;
    row-gap: 3rem;
}

@media screen and (min-width: 600px) {
    .contact-links {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 900px) {
    .contact-links {
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }
}
