.education-card {
    display: flex;
    gap: 1rem;
    border-radius: 13px;
}

.education-picture {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    min-width: 100px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 0.8rem;
    overflow: hidden;
}

.education-picture img {
    width: 100%;
    height: auto;
}

/* Education data */

.education-data {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.data-section {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.education-link {
    text-decoration: none;
    color: var(--text);
}

.education-link svg {
    stroke: var(--gray);
}

.education-link:hover {
    display: inline;
    text-decoration: underline;
}

.education-link h1,
.education-title {
    font-size: 1.05rem;
    line-height: 1.2;
    vertical-align: bottom;
}

.education-time {
    color: var(--gray);
    font-weight: 500;
    font-size: 0.9rem;
}

.education-type {
    color: var(--gray);
    font-weight: 600;
}

.education-company {
    color: var(--text_2);
    font-weight: 500;
    font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
    .education-picture {
        height: 120px;
        width: 120px;
        min-width: 120px;
        border-radius: 1rem;
    }
}
