.education-section {
    padding: 3rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.education-grid {
    display: grid;
    grid-template-columns: repeat(1, fr);
    column-gap: 2rem;
    row-gap: 3rem;
}

@media screen and (min-width: 768px) {
    .education-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
