footer {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 866px;
    margin: 0 auto;
    border-top: 1px solid var(--hover);
}

.footer-row {
    display: flex;
    padding: 3rem 3rem 3rem;
    width: 100%;
    gap: 3rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.brand-section {
    gap: 1rem;
    width: 60%;
}

.brand-section .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text);
}

.brand-section .my-slogan {
    color: var(--gray);
    font-size: 0.9rem;
}

.brand-section .spotify-widget {
    margin-top: 1.5rem;
}

.links-section ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.links-section li a {
    color: var(--gray);
    font-size: 0.93rem;
    font-weight: 500;
    text-decoration: none;
}

.links-section li a:hover {
    color: var(--text);
}

.footer-slogan {
    color: var(--gray);
    font-size: 0.87rem;
    margin: 1rem auto;
}
