.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 90vw;
    border-top: 1px solid var(--hover);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--text);
}

.footer-list {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.footer-anchor {
    color: var(--gray);
    font-size: 0.93rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 200ms ease;
}

.footer-anchor:hover {
    color: var(--text);
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 900px) {
    .footer {
        width: 866px;
    }
}
