.footer {
    display: flex;
    align-items: center;
    background-color: var(--background_2);
    border-top: 1px solid var(--hover_2);
}

.footer-row {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 100%;
    gap: 3rem;
    width: 90vw;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.brand-section {
    gap: 1rem;
}

.brand-section .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--text);
}

.brand-section .my-slogan {
    color: var(--gray);
    font-size: 0.9rem;
}

.brand-section .spotify-widget {
    margin-top: 1.5rem;
}

.links-section ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.links-section li a {
    color: var(--gray);
    font-size: 0.93rem;
    font-weight: 500;
    text-decoration: none;
}

.links-section li a:hover {
    color: var(--text);
}

.footer-slogan {
    color: var(--gray);
    font-size: 0.87rem;
    margin: 1rem auto;
}

@media screen and (min-width: 480px) {
    .footer-row {
        flex-direction: row;
        padding: 3rem;
        gap: 3rem;
    }

    .brand-section {
        width: 60%;
    }
}

@media screen and (min-width: 900px) {
    .footer-row {
        width: 866px;
    }
}