:root {
    --background: #fafbfc;
    --background_2: #fafbfc;
    --text: #111;
    --text_2: #333;
    --gray: #6a6a6a;
    --hover: #00000010;
    --hover_2: #0000000e;
    --primary: #ffa200;
    --secondary: #111;
    --primary_2: #d04300;
    --primary_3: #b21e35;
    --glass: #f8f9faaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body.dark {
    --background: #111;
    --background_2: #0c1018;
    --text: #f1f1f1;
    --text_2: #ddd;
    --gray: #999;
    --hover: #ffffff18;
    --hover_2: #ffffff0e;
    --primary: #ffb200;
    --primary_2: #e87742;
    --primary_3: #f25c54;
    --secondary: #ffffff;
    --glass: #0b0e14bb;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--gray) var(--background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 20px;
    border: 3px solid var(--background);
}



body {
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
}

p {
    color: var(--text_2);
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
}

.btn {
    padding: 0.9rem 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border: 0;
    outline: none;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.93rem;
}

.btn:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary);
    color: #111;
}

.primary-btn svg {
    stroke: #111;
}

.secondary-btn {
    background-color: var(--text);
    color: var(--background);
}

.secondary-btn svg {
    stroke: var(--background);
}

.primary-text {
    color: var(--primary);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.9rem;
    }
}
