:root {
    --background: #fff;
    --text: black;
    --text_2: #333;
    --gray: #666;
    --hover: #00000015;
    --primary: #ffb200;
    --secondary: #000000;
    --primary_2: #d13500;
    --glass: #ffffff99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.dark {
    --background: #111;
    --text: white;
    --text_2: #ddd;
    --gray: #999;
    --hover: #ffffff18;
    --primary: #ffb200;
    --primary_2: #ffb200;
    --secondary: #ffffff;
    --glass: #11111199;
}

body {
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
}

h1 {
    font-size: 2rem;
}

p {
    color: var(--text_2);
    font-size: 0.9rem;
}

.btn {
    padding: 0.9rem 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border: 0;
    outline: none;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 0.93rem;
}

.btn:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary);
    color: #000;
}

.primary-btn svg {
    stroke: #000;
}

.secondary-btn {
    background-color: var(--secondary);
    color: var(--background);
}

.secondary-btn svg {
    stroke: var(--background);
}
