:root {
    --background: #ffffff;
    --text: #000;
    --text_2: #222;
    --gray: #777;
    --hover: #00000015;
    --hover_2: #0000000a;
    --primary: #ffa200;
    --secondary: #000000;
    --primary_2: #d04300;
    --primary_3: #b21e35;
    --glass: #fcffffaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.dark {
    --background: #0b0e14;
    --text: #f3f3f3;
    --text_2: #ccc;
    --gray: #999;
    --hover: #ffffff18;
    --hover_2: #ffffff0d;
    --primary: #ffb200;
    --primary_2: #ffb200;
    --primary_3: #f25c54;
    --secondary: #ffffff;
    --glass: #0b0e14aa;
}

body {
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
}

h1 {
    font-size: 2rem;
}

p {
    color: var(--text_2);
    font-size: 0.9rem;
}

.btn {
    padding: 0.9rem 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border: 0;
    outline: none;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 0.93rem;
}

.btn:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary);
    color: #111;
}

.primary-btn svg {
    stroke: #111;
}

.secondary-btn {
    background-color: var(--secondary);
    color: var(--background);
}

.secondary-btn svg {
    stroke: var(--background);
}

.primary-text {
    color: var(--primary);
}
