.project-card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 0.5rem;

    overflow: hidden;
}

.card-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    overflow: hidden;
}

.card-picture img {
    width: 100%;
    height: fit-content;
    transition: all 300ms ease;
}

.card-picture:hover img {
    width: 105%;
    cursor: pointer;
}

/* Card data */

.card-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
    overflow: hidden;
}

/* Card header */

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    overflow: hidden;
}

.card-header .project-title {
    padding: 2px 0;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.card-header .project-slogan {
    color: var(--gray);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.project-links {
    display: flex;
    width: fit-content;
    gap: 0.5rem;
}

.project-links .btn {
    padding: 8px;
    border-radius: 6px;
    aspect-ratio: 1/1;
    color: var(--text_2);
    text-decoration: none;
    transition: all 300ms ease;
}

.project-links .btn svg {
    stroke: var(--text_2);
    transition: 300ms ease;
}

.project-links .btn:hover {
    background-color: var(--text);
    color: var(--background);
}

.project-links .btn:hover svg {
    stroke: var(--background);
}
