@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf")
        format("truetype");
}

:root {
    --background: #fff;
    --background_2: #fefefe;
    --text-color: black;
    --hover: #00000018;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body.dark {
    --background: #111;
    --background_2: #191919;
    --text-color: white;
    --hover: #ffffff18;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    width: 800px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    /* font-weight: 600; */
}
