:root {
    --background: #f5f6f7;
    --background_2: #fafbfc;
    --text: #111;
    --text_2: #333;
    --gray: #6a6a6a;
    --hover: #00000010;
    --hover_2: #00000018;
    --primary: #ffa200;
    --secondary: #111;
    --primary_2: #d04300;
    --primary_3: #b21e35;
    --glass: #f8f9faaa;
}

body.dark {
    --background: #111;
    --background_2: #212121;
    --text: #eee;
    --text_2: #cdcdcd;
    --gray: #999;
    --hover: #ffffff18;
    --hover_2: #ffffff0e;
    --primary: #ffb200;
    --primary_2: #e87742;
    --primary_3: #f25c54;
    --secondary: #ffffff;
    --glass: #0b0e14bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--gray) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 20px;
    border: 3px solid var(--background);
}

body {
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
}

p {
    color: var(--text_2);
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
}

/* Reusable classes */

.btn {
    padding: 0.9rem 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border: 0;
    outline: none;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.93rem;
}

.btn:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary);
    color: #111;
}

.primary-btn svg {
    stroke: #111;
}

.secondary-btn {
    background-color: var(--text);
    color: var(--background);
}

.secondary-btn svg {
    stroke: var(--background);
}

.primary-text {
    color: var(--primary);
}

.gradient-text {
    background: -webkit-linear-gradient(#fdc830, #f37335);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* LOGO */

.square-logo {
    display: none;
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: var(--primary);
    border-radius: 8px;
}

/* TOPBAR */

.topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 90vw;
    margin: 0 auto;
}

/* TOPBAR MENU */

.topbar-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

.topbar-menu.expanded {
    display: flex;
    gap: 4rem;
}

.topbar-menu > .menu-item > a {
    padding: 0.45rem 0.55rem;
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--gray);
    text-decoration: none;
    transition: color 300ms ease, background-color 300ms ease;
    border-radius: 6px;
}

.topbar-menu.expanded > .menu-item > a {
    font-size: 1.4rem;
    font-weight: 700;
}

.topbar-menu > .menu-item > a:hover {
    text-decoration: none;
    color: var(--text);
    background-color: var(--hover);
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 6px;
    stroke: var(--text);
    background-color: transparent;
    border: 0;
    z-index: 1;
}

.menu-btn svg {
    stroke: var(--text);
}

.menu-btn:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.menu-btn .close-icon {
    display: none;
}

.menu-btn.expanded .close-icon {
    display: flex;
}

.menu-btn.expanded .menu-icon {
    display: none;
}

/* THEME TOGGLE */

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    background-color: transparent;
    border: 0;
    border-radius: 8px;
    transition: background-color 300ms ease;
}

.theme-toggle svg {
    stroke: var(--text);
}

.theme-toggle:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.theme-toggle .sun {
    display: none;
}

body.dark .theme-toggle .moon {
    display: none;
}

body.dark .theme-toggle .sun {
    display: block;
}

/* MAIN */

.main-container {
    width: 90vw;
    margin: 0 auto;
}

/* HOME SECTION */

.main-section {
    height: calc(100vh - 4rem);
    min-height: 580px;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3.5em;
}

.main-section > .name {
    font-size: 1.5rem;
    color: var(--gray);
}

.main-section > .slogan {
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--text);
    line-height: 1;
    width: 90%;
}

.main-section .highlights-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 104%;
    gap: 0;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 0.2rem;
    color: var(--text_2);
}

.highlight .counter {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.4rem;
    color: var(--text);
    font-weight: 700;
}

.highlight .counter svg {
    stroke: var(--gray);
}

.highlight .label {
    line-height: 1;
    font-size: 0.75rem;
    font-family: "JetBrains Mono", monospace;
}

/* MEDIA QUERIES */

@media screen and (min-width: 321px) {
}

@media screen and (min-width: 481px) {
    h1 {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 601px) {
    
}

@media screen and (min-width: 769px) {
    .square-logo {
        display: block;
    }

    .topbar-menu,
    .topbar-menu.expanded {
        position: relative;
        display: flex;
        flex-direction: row;
        height: fit-content;
        gap: 1.5rem;
    }

    .topbar-menu > .menu-item > a,
    .topbar-menu.expanded > .menu-item > a {
        font-size: 0.87rem;
        font-weight: 500;
    }

    .menu-btn {
        display: none;
    }

    .jobs-container .job-card {
        width: 50%;
    }

    .jobs-container .timeline {
        left: 50%;
    }

    .jobs-container .job-picture {
        position: absolute;
    }

    .jobs-container article:nth-child(2n) {
        transform: translateX(100%);
        padding-right: 0;
    }

    .jobs-container article:nth-child(2n + 1) {
        padding-left: 0;
    }

    .jobs-container article:nth-child(2n + 1) .job-picture {
        left: calc(100% + 1.5rem);
    }

    .jobs-container article:nth-child(2n) .job-picture {
        left: calc(-120px - 1.5rem);
    }

    .jobs-container article:nth-child(2n + 1) .circle {
        left: calc(100% - 10px);
    }

    .main-section > .name {
        font-size: 2rem;
    }

    .main-section > .slogan {
        font-size: 3.4rem;
        width: 90%;
    }

    .main-section .highlights-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7.2rem;
    }
}

@media screen and (min-width: 900px) {
    .topbar-container {
        width: 866px;
    }

    .main-container {
        width: 866px;
    }
}
