:root {
    --background: #fff;
    --background_2: #fefefe;
    --text: black;
    --text_2: #333;
    --gray: #757575;
    --hover: #00000015;
    --primary: #ffb200;
    --primary_2: #ea5c2b;
    --glass: #ffffff88;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.dark {
    --background: #040404;
    --background_2: #060606;
    --text: white;
    --text_2: #ddd;
    --gray: #999;
    --hover: #ffffff15;
    --primary: #ffb200;
    --primary_2: #ffb200;
    --glass: #04040488;
}

body {
    background-color: var(--background);
}

h1,
h2,
h3 {
    font-weight: 800;
    color: var(--text);
}

p {
    color: var(--text_2);
    font-size: 0.9rem;
}

.section {
    width: 866px;
    margin: 0 auto;
}
