<style>
    li {
        display: flex;
        align-items: center;
        position: relative;
        gap: 0.5rem;
        border-radius: 11px;
        overflow: hidden;
    }

    .contact-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.15rem;
    }

    li small {
        color: var(--gray);
        font-weight: 500;
    }

    li a {
        font-weight: 700;
        color: var(--text);
        font-size: 1.15rem;
        text-decoration: none;
    }

    li a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<li class="link">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#ffa200"
        height="60"
        width="60"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
        ></path>
    </svg>
    <div class="contact-data">
        <small>Enviame un email:</small>
        <a href="mailto:devenapuros@gmail.com">devenapuros@gmail.com</a>
    </div>
</li>
