<style>
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: 0.35rem;
        padding: 1rem;
        width: 100%;
        border-radius: 11px;
        overflow: hidden;
        background: var(--primary);
    }

    li a {
        font-weight: 700;
        font-size: 1.15rem;
    }

    li a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    li svg {
        position: absolute;
        right: -1.3rem;
        bottom: -1.3rem;
    }
</style>
<li>
    <small>Enviame un email</small>
    <a>devenapuros@gmail.com</a>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#00000020"
        height="88"
        width="88"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
        ></path>
    </svg>
</li>
