<style>
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: 0.35rem;
        width: 100%;
        border-radius: 11px;
        overflow: hidden;
        background: #ff0000;
        background: -webkit-linear-gradient(to left, #dc281e, #e00000);
        background: linear-gradient(to left, #dc281e, #e00000);
    }

    li small {
        color: #f5f5f5;
    }

    li a {
        font-weight: 700;
        color: white;
        font-size: 1.15rem;
        text-decoration: none;
    }

    li a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    li svg {
        position: absolute;
        right: -1.1rem;
        bottom: -1.25rem;
    }
</style>
<li class="link">
    <small>Mi canal de Youtube</small>
    <a href="https://github.com/devenapuros" target="_blank" rel="noreferrer">
        Dev en Apuros
    </a>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="88"
        height="88"
        viewBox="0 0 24 24"
        fill="#00000040"
        ><path
            d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"
        ></path>
    </svg>
</li>
