---
import MainLayout from "../layouts/mainLayout.astro";
import Card from "../components/card.astro";
import Topbar from "../components/Topbar.astro";
import HomeSection from "../sections/homeSection.astro";
import Main from "../components/main.astro";
---

<MainLayout title="Daniel Gómez - Desarrollador Frontend">
    <Topbar />
    <Main>
        <HomeSection />
        <HomeSection />
        <HomeSection />
        <HomeSection />
    </Main>
</MainLayout>
