<style>
    article {
        padding: 1.5rem;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        width: 20rem;
        gap: 1rem;
        background-color: var(--background_2);
        border-radius: 1rem;
        border: 1px solid var(--hover);
    }
</style>
<article>
    <h1>I am a card</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto nam
        tempore, distinctio nisi, repellendus similique obcaecati, repellat
        voluptatibus exercitationem saepe perspiciatis ducimus facere expedita
        ex quos! Voluptatem ut facere itaque?
    </p>
</article>
