<style>
    footer {
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: var(--hover);
    }

    .footer-container {
        display: flex;
        align-items: center;
        width: 866px;
        margin: 0 auto;
        color: var(--gray);
        font-size: 0.9rem;
    }
</style>
<footer>
    <div class="footer-container">
        Desarrollado moviendo las manitas y con mucho 🧡
    </div>
</footer>
