---
import Logo from "./logo.astro";
import "../styles/footer.css";
---

<footer class="footer">
    <div class="logo-container">
        <Logo />Daniel Gómez
    </div>
    <ul class="footer-list">
        <li><a class="footer-anchor" href="#home">Inicio</a></li>
        <li><a class="footer-anchor" href="#jobs">Experiencia</a></li>
        <li><a class="footer-anchor" href="#projects">Proyectos</a></li>
        <li><a class="footer-anchor" href="#education">Educación</a></li>
    </ul>
</footer>
