<style>
    footer {
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: var(--hover);
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 866px;
        margin: 0 auto;
        color: var(--gray);
        font-size: 0.9rem;
    }

    ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        gap: 0.35rem;
        color: var(--text);
    }
</style>
<footer>
    <div class="footer-container">
        <span>Desarrollado moviendo las manitas y con mucho 🧡</span>
        <!-- <ul>
            <li>
                <a href="">
                    Descargar CV</a
                >
            </li>
        </ul> -->
    </div>
</footer>
