<style>
    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    span {
        font-weight: 700;
        color: var(--text);
    }

    .square {
        height: 30px;
        width: 30px;
        background-color: var(--primary);
        border-radius: 8px;
    }
</style>
<div>
    <!-- <img
        src="/hacker-cat.svg"
        alt="Francisco Daniel Gomez Alvarez"
        height="32px"
    /> -->
    <!-- <span>Daniel Gómez</span> -->
    <span class="square"></span>
</div>
