<style>
    main {
        width: 866px;
        margin: 0 auto;
    }

    @media screen and (max-width: 900px) {
        main {
            width: 90vw;
        }
    }
</style>
<main>
    <slot />
</main>
