---
import "../styles/topbar-menu.css";
---

<ul class="topbar-menu" id="topbar-menu">
    <li class="menu-item"><a href="#jobs">Experiencia</a></li>
    <li class="menu-item"><a href="#projects">Proyectos</a></li>
    <li class="menu-item"><a href="#education">Educación</a></li>
    <li class="menu-item"><a href="#contact">Contacto</a></li>
</ul>
<button class="menu-btn" id="menu-btn">
    <svg
        class="menu-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        height="26"
        width="26"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
    </svg>
    <svg
        class="close-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        height="28"
        width="28"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
    </svg>
</button>
<script>
    const $menu = document.getElementById("topbar-menu");
    const $menuBtn = document.getElementById("menu-btn");
    $menuBtn.addEventListener("click", (event) => {
        $menu.classList.toggle("expanded");
        $menuBtn.classList.toggle("expanded");
    });
</script>
