<style>
    button {
        padding: 1rem;
        border: 0;
        outline: none;
        border-radius: 1rem;
        background-color: orange;
        font-size: 0.873rem;
        font-weight: 600;
    }

    button:hover {
        cursor: pointer;
    }
</style>
<button>
    <slot />
</button>
