<style>
    button {
        padding: 1rem;
        border: 0;
        outline: none;
        border-radius: 1rem;
        background-color: orange;
        font-size: 0.873rem;
        font-weight: 600;
    }

    button:hover {
        cursor: pointer;
    }
</style>
<button id="button">Toggle theme</button>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const button = document.getElementById("button");
        button.addEventListener("click", (event) => {
            document.body.classList.toggle("dark");
        });
    });
</script>
