---
import Logo from "./logo.astro";
import Menu from "./menu.astro";
import ThemeToggle from "./themeToggle.astro";
import "../styles/topbar.css";
---

<nav id="topbar">
    <div class="topbar-container">
        <Logo />
        <Menu />
        <ThemeToggle />
    </div>
</nav>
<script>
    const topbar = document.getElementById("topbar");
    window.addEventListener("scroll", () => {
        if (window.scrollY >= 130) topbar.classList.add("bordered");
        else topbar.classList.remove("bordered");
    });
</script>
