---
import Logo from "./logo.astro";
import Menu from "./menu.astro";
---

<style>
    nav {
        position: sticky;
        top: 0;
        background-color: var(--glass);
        backdrop-filter: saturate(10%) blur(10px);
    }

    .bordered {
        border-bottom: 1px solid var(--hover);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        width: 866px;
        margin: 0 auto;
    }
</style>

<nav id="topbar">
    <div class="nav-container">
        <Logo />
        <Menu />
    </div>
</nav>
<script>
    const topbar = document.getElementById("topbar");
    window.addEventListener("scroll", () => {
        if (window.scrollY >= 100) topbar.classList.add("bordered");
        else topbar.classList.remove("bordered");
    });
</script>
