<section
    class="flex flex-col-reverse sm:flex-row pt-24 pb-20 items-center gap-16"
>
    <article class="flex flex-col gap-14">
        <h1
            class="font-black text-light-texto-primary dark:text-dark-texto-primary text-[2.5rem]"
        >
            Sobre mi<span class="text-primary">.</span>
        </h1>
        <div
            class="flex flex-col gap-4 text-[1.1rem] sm:text-base text-light-texto-secondary dark:text-dark-texto-secondary"
        >
            <p>
                En 2020 comencé mi senda en el desarrollo web. Desde entonces e
                colaborado en proyectos para empresas que han mejorado sus
                servicios y su productividad gracias a implementar software
                desarrollado con tecnologías web.
            </p>
            <p>
                Mi misión como desarrollador es hacer que cada sitio web que
                construyo, se convierta en una experiencia que nuestros usuarios
                puedan rememorar, porque solo asi, conseguimos hacer de la web,
                algo disruptivo.
            </p>
        </div>
    </article>
    <img
        class="rounded-full h-[170px] w-[170px] sm:w-[200px] sm:h-[200px]"
        src="/photo.webp"
        alt="Daniel Gomez - Desarrollador Frontend"
        loading="lazy"
    />
</section>
