---
import EmailCard from "../contactCards/EmailCard.astro";
import GithubCard from "../contactCards/GithubCard.astro";
import LinkedinCard from "../contactCards/LinkedinCard.astro";
import "../styles/contact-section.css";
---

<section class="contact-section">
    <h1>Contacto<span class="primary-text">.</span></h1>
    <ul class="contact-links">
        <EmailCard />
        <LinkedinCard />
        <GithubCard />
    </ul>
</section>
