<style>
    section {
        padding: 3rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .contact-links {
        display: flex;
        list-style: none;
        gap: 4rem;
    }

    .contact-links li {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        font-size: 0.88rem;
        color: var(--text_2);
    }

    .contact-links li a {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--text);
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: none;
    }

    .contact-links li a:hover {
        text-decoration: underline var(--primary);
    }

    .secondary-btn {
        width: fit-content;
        text-decoration: none;
    }
</style>
<section>
    <h1><span class="primary-text">#</span> Contacto</h1>
    <ul class="contact-links">
        <li>
            Envíame un email:
            <a href="">
                <img
                    class="link-picture"
                    src="/envelope.svg"
                    alt=""
                    height="50px"
                    width="50px"
                />
                devenapuros@gmail.com
            </a>
        </li>
        <li>
            Mi cuenta de LinkedIn:
            <a href="">
                <img
                    class="link-picture"
                    src="/linkedin.svg"
                    alt="hola"
                    height="50px"
                    width="50px"
                />
                /in/fdaniel-gomez
            </a>
        </li>
        <li>
            Mi cuenta de GitHub:
            <a href="">
                <img
                    class="link-picture"
                    src="/github.svg"
                    alt=""
                    height="50px"
                    width="50px"
                />
                /devenapuros
            </a>
        </li>
    </ul>
</section>
