---
import EducationCard from "../components/EducationCard.astro";
import educationDegrees from "../data/education.json";
import "../styles/education-section.css";
---

<section class="education-section">
    <h1>Educación<span class="primary-text">.</span></h1>
    <div class="education-grid">
        {educationDegrees.map((education) => <EducationCard {...education} />)}
        <div class="timeline"></div>
    </div>
</section>
