<section
    class="h-[calc(100vh) - 4rem] min-h-[580px] py-10 flex flex-col justify-center items-center text-center gap-16"
    id="home"
>
    <div class="flex flex-col gap-7 text-center items-center justify-center">
        <h1
            class="text-[1.3rem] sm:text-[1.6rem] text-light-gray-primary py-4 px-5 w-fit font-extrabold rounded-xl dark:text-dark-gray-primary"
        >
            Hola!<span class="hi"></span> Soy Daniel G贸mez
        </h1>
        <p
            class="hidden text-[2.4rem] sm:text-[3.1rem] md:text-[4rem] font-black leading-[1] text-[#111] dark:text-[#f3f3f3]"
            id="slogan0"
        >
            Desarrollador con pasi贸n por construir sitios web <span
                class="text-primary">memorables</span
            >.
        </p>
        <p
            class="hidden text-[2.4rem] sm:text-[3.1rem] md:text-[3.7rem] font-black leading-[1] text-[#111] dark:text-[#f3f3f3]"
            id="slogan1"
        >
            Desarrollador con la misi贸n de transformar interfaces en <span
                class="text-primary">experiencias</span
            >.
        </p>
    </div>
    <ul
        class="gap-3 flex items-center justify-center sm:gap-9 text-light-gray-primary dark:text-dark-gray-primary"
    >
        <li class="flex flex-col sm:flex-row items-center gap-2">
            <span
                class="flex items-center font-bold bg-[#0001] dark:bg-[#fff1] py-1 px-2 rounded-md"
            >
                2.6
            </span>
            <span
                class="text-[0.71rem] sm:text-[0.81rem] leading-[1] text-center sm:text-left"
                >A帽os de<br />experiencia</span
            >
        </li>
        <span
            class="h-8 border-r-[1px] border-dashed border-light-gray-secondary dark:border-dark-gray-secondary"
        ></span>
        <li class="flex flex-col sm:flex-row items-center gap-2">
            <span
                class="flex items-center font-bold bg-[#0001] dark:bg-[#fff1] py-1 px-2 rounded-md"
                id="code-lines"
            >
                100k
            </span>
            <span
                class="text-[0.71rem] sm:text-[0.81rem] leading-[1] text-center sm:text-left"
                >Lineas de <br />c贸digo escritas</span
            >
        </li>
        <span
            class="h-8 border-r-[1px] border-dashed border-light-gray-secondary dark:border-dark-gray-secondary"
        ></span>
        <li class="flex flex-col sm:flex-row items-center gap-2">
            <span
                class="flex items-center font-bold bg-[#0001] dark:bg-[#fff1] py-1 px-2 rounded-md"
            >
                5.6k
            </span>
            <span
                class="text-[0.71rem] sm:text-[0.81rem] leading-[1] text-center sm:text-left"
                >Tazas de caf茅<br />consumidas</span
            >
        </li>
    </ul>
    <div class="flex items-center gap-2 sm:gap-6">
        <a
            href="/DanielGomez_CV.pdf"
            target="_blank"
            class="sm:w-40 justify-center p-3 pr-4 flex items-center gap-1 sm:gap-2 font-semibold text-[0.91rem] text-light-texto-secondary dark:text-dark-texto-secondary bg-[#0001] dark:bg-[#fff1] transition-colors rounded-lg hover:bg-light-texto-primary dark:hover:bg-dark-texto-primary hover:text-light-fondo-primary dark:hover:text-dark-fondo-primary"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path
                    d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"
                ></path><polyline points="14 2 14 8 20 8"></polyline><line
                    x1="16"
                    y1="13"
                    x2="8"
                    y2="13"></line><line x1="16" y1="17" x2="8" y2="17"
                ></line><line x1="10" y1="9" x2="8" y2="9"></line></svg
            >
            <span>Curr铆culum</span>
        </a>

        <a
            href="#contact"
            class="sm:w-40 justify-center p-3 pr-4 flex items-center gap-1 sm:gap-2 font-semibold text-[0.91rem] text-light-texto-secondary dark:text-dark-texto-secondary bg-[#0001] dark:bg-[#fff1] transition-colors rounded-lg hover:bg-light-texto-primary dark:hover:bg-dark-texto-primary hover:text-light-fondo-primary dark:hover:text-dark-fondo-primary"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="23"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><line x1="7" y1="17" x2="17" y2="7"></line><polyline
                    points="7 7 17 7 17 17"></polyline></svg
            >
            Contacto
        </a>
    </div>
</section>
<script>
    let sloganSeed = Math.round(Math.random());
    console.log(`slogan${sloganSeed}`);
    let sloganParagraph = document.getElementById(`slogan${sloganSeed}`);
    sloganParagraph.classList.remove("hidden");
    sloganParagraph.classList.add("inline");
</script>
