---
import JobCard from "../components/JobCard.astro";
---

<style>
    section {
        padding: 3rem 0 5rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
<section>
    <h1>Experiencia laboral</h1>
    <JobCard />
</section>
