---
import Card from "../components/card.astro";
---

<style>
    section {
        padding: 3rem 0 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
</style>
<section>
    <h1>Experiencia laboral</h1>
    <Card />
    <Card />
    <Card />
    <Card />
</section>
