---
import ProjectCard from "../components/ProjectCard.astro";
import ProjectModal from "../components/ProjectModal.astro";
import projects from "../data/projects.json";
import "../styles/projects-section.css";
---

<section class="projects-section" id="projects">
    <h1>Proyectos<span class="primary-text">.</span></h1>
    <div class="projects-grid">
        {projects.map((project) => <ProjectCard {...project} />)}
    </div>
</section>
{projects.map((project) => <ProjectModal {...project} />)}
<script>
    const $openModalButtons = document.querySelectorAll(".open-modal-btn");
    const $closeModalButtons = document.querySelectorAll(".close-modal-btn");
    $openModalButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            const modalId = event.currentTarget.getAttribute("data-target");
            const $modal = document.getElementById(modalId);
            $modal.classList.add("visible");
            document.body.style.overflow = "hidden";
        });
    });

    $closeModalButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            const modalId = event.currentTarget.getAttribute("data-target");
            const $modal = document.getElementById(modalId);
            $modal.classList.remove("visible");
            document.body.style.overflow = "auto";
        });
    });
</script>
