---
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../data/projects.json";
import "../styles/projects-section.css";
---

<section class="projects-section">
    <h1>Proyectos<span class="primary-text">.</span></h1>
    <div class="projects-grid">
        {projects.map((project) => <ProjectCard {...project} />)}
    </div>
</section>
